/*! == MEDIA QUERIES == */

/*===========GENERAL (1200px)==========*/

@media only screen and (max-width: 1200px) {

.col-6 {
    margin: 2em 0 5em 0;
    flex: 100%;
    max-width: 100%;
}

.latest-news-slider {
	width: 90%;

	.latest-news-slider__item .latest-news-header {
		display: block;
	}
	
	.share-buttons {
		float: right;
	}
		
}

.all-news {
	padding: 2em;
}

.cares-children {
	padding: 0 4em !important;
}

div.information {
	padding: 0 2em;
}

.contact .main-content .info .text, .contact .main-content .info span {
	font-size: 0.9em;
}

.container-custom .custom-header .custom-description {
	font-size: 1em;
}

.container-custom .custom-header .custom-actions {
	
	.long-text {
		display: none;
	}
	
	.short-text {
		display: block;
	}
}

div.information > .container {
	max-width: 100%;
}

.flexible-content.data-block table td:first-child, .flexible-content.data-block table th:first-child {
	padding: 0.5em 0em 0.5em 0;
	text-align: left;
}

.newsletter-form span input {
	width: auto;
}

}

/*===========LARGE (1200px)==========*/

@media only screen and (max-width: 1200px) and (min-width: 992px) {
/*body:before {
  content: 'LARGE';
  position: fixed;
  z-index: 9999;
  top:0;
}*/
 /*---GLOBALS---*/ 

/*---HEADER---*/

.sub-hero {
	grid-template-columns: 1fr;
}

/*---CONTENT---*/

/*---FOOTER---*/

.pre-socket {
	
	.container {
		max-width: 100%;
		padding: 0px 4em;
	}
	
	.col-4, .col-2 {
		flex: 0 0 25%;
		max-width: 25%;
		
		.columns {
			column-count: 1;
		}
	}
}

}/*---end large mq---*/


/*===========MEDIUM (992px)==========*/

@media only screen and (max-width: 992px) and (min-width: 768px) {
/*  body:before {
    content: 'MEDIUM';
    position: fixed;
    z-index: 9999;
    top:0;
  }*/
  
 /*---GLOBALS---*/ 

body {
    font-size: 0.75em;
}
 
/*---HEADER---*/

.sub-hero {
	grid-template-columns: 1fr;
}

/*---CONTENT---*/

.container-cares {
	padding: 2em;
}

.container.large {
    max-width: 100%;
    padding: 4em;
}

.all-news .mix-it-up__container {
	grid-template-columns: 50% 50%;
}

.gallery a {
	min-height: 20em !important;
}

/*---FOOTER---*/

.pre-socket {
	
	.container {
		max-width: 100%;
		padding: 0px 4em;
	}
	
	.col-3 {
		flex: 100%;
		max-width: 100%;
		text-align: center;
		margin-bottom: 2em;
	}
	
	.col-4, .col-2 {
		flex: 0 0 33%;
		max-width: 33%;
		
		.columns {
			column-count: 1;
		}
	}
	
	ul li {
		font-size: 0.8em;
	}
}
  
}/*---end medium mq---*/



/*===========SMALL (768px)==========*/

@media only screen and (max-width: 768px) and (min-width: 576px) {
/*  body:before {
    content: 'SMALL';
    position: fixed;
    z-index: 9999;
    top:0;
  }*/

/*---GLOBALS---*/

body {
  font-size: 0.65em;
}

/*---HEADER---*/

header {
    top: 0;
    transition: top 0.5s ease;
}

.scrolled header {
    top: -20em;
    overflow: hidden;
}

.sub-hero {
	grid-template-columns: 1fr;
}

.mainMenu ul {
	flex-wrap: wrap;
	
	li {
		flex: 25%;
		margin-bottom: 3em;
	}
}

.sub-hero {
	grid-template-columns: 1fr;
}

.menu-trigger {
	margin-left: 2em;
}

/*---CONTENT---*/

.container {
	padding: 0;
    margin: 0;
    max-width: 100%;
    
/*
    .row {
		width: 100%;
		margin: 0;
    
	    & > div {
			min-width: 100%;
			max-width: 100%;
			width: 100%;
			flex: 0 0 100%;
			margin: 0;
		}
	}
*/
}

.container-cares {
	padding: 2em;
}

.container-information {
    padding-left: 2em;
    padding-right: 2em;
}

.container.large {
    max-width: 100%;
    padding: 4em;
    
    .wrapper-destinations .wrapper-cards-horizontal .wrapper-card .info-card {
	    grid-template-columns: 50% 50%;
    }
}

main .content .row {
	
	.col-5 {
		padding-top: 2em;
		background: $brand-dark-grey;
	}
	
	.col-6 {
		padding: 2em 2em 0 2em;
	}
}

.quick-contact {
	
	.container {
		padding: 0 3em;
	}
	
	.wpcf7-form {
		
		.main-form {
			display: flex;
			flex-direction: column;
			
			.label {
				margin: 0;
			}
			
			.input input, .input textarea {
				padding: 0.5em;
			}
		}
	}
}

.wrapper-cards .wrapper-card {
	width: 50%;
}

.all-news .mix-it-up__container {
	grid-template-columns: 50% 50%;
}

.container-custom .container {
	padding-bottom: 0;
	
	.custom-description {
		font-size: 1em;
		padding-left: 1em;
	}
}

.gallery {
	grid-template-columns: auto auto;
}

/*---FOOTER---*/
.footer {
	.socket, .socials {
		text-align: center;
	}
	
	.pre-socket {
	
		.container {
			max-width: 100%;
			padding: 0px 4em;
		}
		
		.col-3 {
			flex: 100%;
			max-width: 100%;
			text-align: center;
			margin-bottom: 2em;
		}
		
		.col-2 {
			flex: 0 0 50%;
			max-width: 50%;
		}
		
		.col-4 {
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 2em;
			
			.columns {
				column-count: 2;
			}
		}
		
		ul li {
			font-size: 0.9em;
		}
	}
}


}/*---end small mq---*/

/*===========EXTRA SMALL (576px)==========*/

@media only screen and (max-width: 576px) {
/*  body:before {
    content: 'EXTRA SMALL';
    position: fixed;
    z-index: 9999;
    top:0;
  }*/
  
/*---GLOBALS---*/

body {
  font-size: 0.6em;
}

/*---HEADER---*/

.hero.h50 {
    height:75vh;
}

.sub-hero {
	grid-template-columns: 1fr;
}

.mainMenu ul {
	flex-wrap: wrap;
	
	li {
		flex: 50%;
		margin-bottom: 3em;
	}
}

/*---CONTENT---*/

.hero__content svg {
    height: 8em;
    margin-bottom: 2em;
}

.wrapper-cards .wrapper-card {
	width: 100%;
	min-width: 100%;
}

.container-cares {
	padding: 2em;
}

.all-news, .cares-videos, .other-camps, .other-itineraries {
	padding: 2em;
}

.quote {
	width: 100% !important;
}

.cta {
	
	&.newsletter {
		padding: 2em;
		display: block;
		text-align: center;
	}
	
	&.contact {
		display: block;
		text-align: center;
		
		.content span:before {
			left: 50%;
		}
	}
}

.wrapper-timeline {
	text-align: right;
	padding-right: 2em;
	
	.content-timeline {
		width: 80%;
		
		.table-cares {
		
			.circle {
				font-size: 1.6em !important;
				right: 0.5rem !important;
			}
		}
		
		.table-itinerary, .table-timeline {
			
			th .heading {
				padding: 0.5em 0;
				z-index: 4;
				background-color: $body-color;
				right: 1.2rem;
			}
			
			.circle {
				display: none;
			}
		}
		
		.itinerary-description {
			font-size: 1.2em;
		}
		
		.img {
			height: 200px;
		}
	}
}

.wpcf7-form-control {
	max-width: 100%;
}

/*---CONTENT---*/

.heading__xl {
    font-size: 2em;
}

.search-form {
    width:95%;
}

.container.large {
    max-width: 100%;
    padding: 2em;
    
	.wrapper-destinations {
		display: block;
		
		.info-card {
			display: block;
			padding-bottom: 0.5em;
		}
	}
}

.container-news {
	
	.container.large {
		padding-top: 0;
	}
	
	.carousel-wrapper {
		padding: 0 0 2em 0;
		margin: 0;
	}

	.latest-news-slider__item {
		
		img {
			height: auto;
		}
		
		& > div {
			padding: 2em;
		}
	}
}

.all-news {
	
	.mix-it-up__controls button {
		text-align: center;
		width: 100%;
		display: block;
		margin: 0 0 0.5em 0;
		
		&:before {
			display: none;
		}
	}
	
	.mix-it-up__container {
		grid-template-columns: 100%;
	}
}

.container.contact {
	margin: 0;
	padding: 4em;
	
	.main-content {
		grid-template-columns: 100%;
		
		.info {
			text-align: center;
			margin-bottom: 2em;
			
			.text, span {
				font-size: 1em;
			}
		}
		
		.contact-form .button {
			width: 100%;
		}
	}
}


.container-custom {

	.container {
		padding-bottom: 0;
		
		.custom-header {
			display: block;
			
			&:before {
				display: none;
			}
			
			.custom-location {
				padding-bottom: 1em;
			}
			
			.custom-description {
				font-size: 1em;
				padding: 0;
			}
			
			.read-more {
				padding: 1em 0 1em 0;
				font-size: 1em;
			}
			
			.custom-actions button.active:before {
				bottom: -5em;
			}
		}
		
		.custom-footer-text {
			column-count: 1;
			margin: 0;
		}
	}
		
	.custom-info .custom-list {
		padding: 2em 0;
		margin: 0;
	}
}

.row-data {
	grid-template-columns: 100% !important;
	
	h3 {
		text-align: left !important;
	}
}

.gallery {
	grid-template-columns: 100%;
}

.flexible-content.month-block .wrapper {
	display: block;
	
	&:not(:last-child) {
		margin-bottom: 4em;
	}
	
	label {
		display: block;
		text-align: center;
	}
}

.flexible-content.data-block {
	margin: 0 -15px;
	
	table {
		
		tbody, tr, td {
			display: block;
		}
		
		td:first-child {
			color: white;
			background-color: #727453;
			font-weight: 100;
			padding: 0.5em;
		}
		
		td:last-child {
			padding: 0.5em;
		}
		
		tr:not(:first-child) {
			border: none;
		}
		
		th:first-child {
			display: none;
		}
		
		th:last-child {
			padding: 0.5em;
		}
	}

}

nav .menu-trigger {
	margin-left: -2em;
}

/*---FOOTER---*/

.pre-socket {
	
	.container {
		padding: 0 2em;
	}
	
	.col-3 {
		flex: 100%;
		max-width: 100%;
		text-align: center;
		margin-bottom: 2em;
	}
	
	.col-2, .col-4 {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 2em;
		text-align: center;
		
		.columns {
			column-count: 1;
		}
	}
	
	ul li {
		font-size: 0.9em;
	}
}
  
}/*---end extra small mq---*/

