/*! == MEDIA QUERIES == */

/*===========GENERAL (1200px)==========*/

@media only screen and (max-width: 1200px) {

.col-6 {
    margin: 2em 0 5em 0;
    flex: 100%;
    max-width: 100%;
}

}

/*===========LARGE (1200px)==========*/

@media only screen and (max-width: 1200px) and (min-width: 992px) {
/*body:before {
  content: 'LARGE';
  position: fixed;
  z-index: 9999;
  top:0;
}*/
 /*---GLOBALS---*/ 

/*---HEADER---*/

.sub-hero {
	grid-template-columns: 1fr;
}

/*---CONTENT---*/

/*---FOOTER---*/

.pre-socket {
	
	.container {
		max-width: 100%;
		padding: 0px 4em;
	}
	
	.col-4, .col-2 {
		flex: 0 0 25%;
		max-width: 25%;
		
		.columns {
			column-count: 1;
		}
	}
}

}/*---end large mq---*/


/*===========MEDIUM (992px)==========*/

@media only screen and (max-width: 992px) and (min-width: 768px) {
/*  body:before {
    content: 'MEDIUM';
    position: fixed;
    z-index: 9999;
    top:0;
  }*/
  
 /*---GLOBALS---*/ 

body {
    font-size: 0.75em;
}
 
/*---HEADER---*/

.sub-hero {
	grid-template-columns: 1fr;
}

/*---CONTENT---*/

.container-cares {
	padding: 2em;
}

.container.large {
    max-width: 100%;
    padding: 4em;
}

/*---FOOTER---*/

.pre-socket {
	
	.container {
		max-width: 100%;
		padding: 0px 4em;
	}
	
	.col-3 {
		flex: 100%;
		max-width: 100%;
		text-align: center;
		margin-bottom: 2em;
	}
	
	.col-4, .col-2 {
		flex: 0 0 33%;
		max-width: 33%;
		
		.columns {
			column-count: 1;
		}
	}
	
	ul li {
		font-size: 0.8em;
	}
}
  
}/*---end medium mq---*/



/*===========SMALL (768px)==========*/

@media only screen and (max-width: 768px) and (min-width: 576px) {
/*  body:before {
    content: 'SMALL';
    position: fixed;
    z-index: 9999;
    top:0;
  }*/

/*---GLOBALS---*/

body {
  font-size: 0.65em;
}

/*---HEADER---*/

header {
    top: 0;
    transition: top 0.5s ease;
}

.scrolled header {
    top: -20em;
    overflow: hidden;
}

.sub-hero {
	grid-template-columns: 1fr;
}

.mainMenu ul {
	flex-wrap: wrap;
	
	li {
		flex: 25%;
		margin-bottom: 3em;
	}
}

.sub-hero {
	grid-template-columns: 1fr;
}

.menu-trigger {
	margin-left: 2em;
}

/*---CONTENT---*/

.container {
	padding: 0;
    margin: 0;
    max-width: 100%;
    
/*
    .row {
		width: 100%;
		margin: 0;
    
	    & > div {
			min-width: 100%;
			max-width: 100%;
			width: 100%;
			flex: 0 0 100%;
			margin: 0;
		}
	}
*/
}

.container-cares {
	padding: 2em;
}

.container-information {
    padding-left: 2em;
    padding-right: 2em;
}

.container.large {
    max-width: 100%;
    padding: 4em;
    
    .wrapper-destinations .wrapper-cards-horizontal .wrapper-card .info-card {
	    grid-template-columns: 50% 50%;
    }
}

main .content .row {
	
	.col-5 {
		padding-top: 2em;
		background: $brand-dark-grey;
	}
	
	.col-6 {
		padding: 2em 2em 0 2em;
	}
}

.quick-contact {
	
	.container {
		padding: 0 3em;
	}
	
	.wpcf7-form {
		
		.main-form {
			display: flex;
			flex-direction: column;
			
			.label {
				margin: 0;
			}
			
			.input input, .input textarea {
				padding: 0.5em;
			}
		}
	}
}

.wrapper-cards .wrapper-card {
	width: 50%;
}

/*---FOOTER---*/
.footer {
	.socket, .socials {
		text-align: center;
	}
	
	.pre-socket {
	
		.container {
			max-width: 100%;
			padding: 0px 4em;
		}
		
		.col-3 {
			flex: 100%;
			max-width: 100%;
			text-align: center;
			margin-bottom: 2em;
		}
		
		.col-2 {
			flex: 0 0 50%;
			max-width: 50%;
		}
		
		.col-4 {
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 2em;
			
			.columns {
				column-count: 2;
			}
		}
		
		ul li {
			font-size: 0.9em;
		}
	}
}


}/*---end small mq---*/

/*===========EXTRA SMALL (576px)==========*/

@media only screen and (max-width: 576px) {
/*  body:before {
    content: 'EXTRA SMALL';
    position: fixed;
    z-index: 9999;
    top:0;
  }*/
  
/*---GLOBALS---*/

body {
  font-size: 0.6em;
}

/*---HEADER---*/

.hero.h50 {
    height:75vh;
}

.sub-hero {
	grid-template-columns: 1fr;
}

.mainMenu ul {
	flex-wrap: wrap;
	
	li {
		flex: 50%;
		margin-bottom: 3em;
	}
}

/*---CONTENT---*/

.hero__content svg {
    height: 8em;
    margin-bottom: 2em;
}

.wrapper-cards .wrapper-card {
	width: 100%;
	min-width: 100%;
}

.container-cares {
	padding: 2em;
}

.all-news, .cares-videos, .other-camps, .other-itineraries {
	padding: 2em;
}

.quote {
	width: 100% !important;
}

.cta {
	
	&.newsletter {
		padding: 2em;
		display: block;
		text-align: center;
	}
	
	&.contact {
		display: block;
		text-align: center;
		
		.content span:before {
			left: 50%;
		}
	}
}

.wrapper-timeline {
	text-align: right;
	padding-right: 2em;
	
	.content-timeline {
		width: 80%;
		
		.table-cares {
		
			.circle {
				font-size: 1.6em !important;
				right: 0.5rem !important;
			}
		}
		
		.table-itinerary {
			
			th .heading {
				padding: 0.5em 0;
				z-index: 4;
				background-color: $body-color;
				right: 1.2rem;
			}
			
			.circle {
				display: none;
			}
		}
	}
}

.wpcf7-form-control {
	max-width: 100%;
}

/*---CONTENT---*/

.heading__xl {
    font-size: 2em;
}

.search-form {
    width:95%;
}

.container.large {
    max-width: 100%;
    padding: 2em;
    
	.wrapper-destinations {
		display: block;
		
		.info-card {
			display: block;
			padding-bottom: 0.5em;
		}
	}
}

/*---FOOTER---*/

.pre-socket {
	
	.container {
		padding: 0 2em;
	}
	
	.col-3 {
		flex: 100%;
		max-width: 100%;
		text-align: center;
		margin-bottom: 2em;
	}
	
	.col-2, .col-4 {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 2em;
		text-align: center;
		
		.columns {
			column-count: 1;
		}
	}
	
	ul li {
		font-size: 0.9em;
	}
}
  
}/*---end extra small mq---*/

