/*! == THEME STYLES == */

/*===========GLOBAL==========*/

.brand-dot {
    position: relative;
    @include brandDot;
    
    &:before {
        bottom:-1em;
        background: white;
    }
}

.dark-dot {
    position: relative;
    @include brandDot;
}

/*===========HEADER==========*/

.sub-hero {
        @include gridCenter;    
        grid-template-columns: 1fr 1fr 1fr;
    
    &__item {
        position: relative;
        @include gridCenter;    
        @include backgroundCover;
        height:25vh;
        border-bottom: 10px solid white;
        border-right: 5px hsl(0, 0%, 100%) solid;
        border-left: 5px hsl(0, 0%, 100%) solid;  
        text-align: center;
        filter:saturate(80%);  
        transition: all 0.5s ease;
        
        &:before {
            content: '';
            position: absolute;
            top: 4%;
            left: 2%;
            width: 96%;
            height: 92%;
            border: 1px solid hsl(0, 0%, 100%);
            opacity:0;
            transition:opacity 0.5s ease;
        }
        
        &:first-of-type {
            margin-left:5px;
        }
        
        &:last-of-type {
            margin-right:5px;
        }
        
        &:hover {
            filter:saturate(100%);
            cursor: pointer;
            
            &:before {
                opacity: 1;
            }
        }
    }

}

.home .sub-hero__item {
    height: 35vh;
}

/*===========BODY==========*/

.map {
    @include backgroundCover;
    position: relative;
    height: 50vh;
    background:url('inc/img/holding-map.jpg');
    
    
    &:before {
        content:'';
        position: absolute;
        width: 100%;
        height:10em;
        background-image: linear-gradient($body-color, transparent);
        
    }
}

.cta {
    @include backgroundCover;
    @include gridCenter;
    grid-template-columns: 1fr;
    
    &.cares {
        padding: 3em;
        text-align: center;
        color: white;
        
        img {
            opacity: 0.7;
            margin-bottom: 2em;
        }
    }
    
}








.leader {
    @include backgroundCover;
    display: grid;
    height: 25em;
    padding: 2em;
    border: 3px solid $brand-primary;
    color: white;
    
    .buttons {
        align-self: flex-end;
        margin-right: 4em;
        
        .button {
            text-align: left;
            font-weight: 400;
            transition: all 0.5s ease;
            
            &:hover {
                background: $brand-dark-grey !important;
            }
        }
    }
}

.sidebar-job-search {
	position: relative;
    padding: 3em;
    background:$brand-mid-grey;
    text-transform: uppercase;
	
	&:after{
        @include overflowRight
        background: $brand-dark-grey;
    }
    
    form {
	    legend {
		    color: $brand-primary;
			font-size: 1.2em;
			font-weight: 400;
	    }
	    
	    input {
			display: block;
			width: 100%;
			padding: 0.8em;
			border: 2px solid $brand-primary;
			text-transform: uppercase;
			color: $brand-mid-grey;
			margin: 1.5em 0;
			
			&::placeholder {
				text-transform: uppercase;
				color: $brand-mid-grey;
			}
			
			&[type=submit] {
				background: $brand-primary;
				padding: 0.4em 0.8em;
				color: white;
				text-transform: uppercase;
				text-align: left;
				margin-bottom: 0;
				cursor: pointer;
				transition: $fastEffect;
				
				&:hover {
					color: $brand-mid-grey;
				}
			}
	    }
	    
	    .select-wrapper {
		    border: 2px solid $brand-primary;
			margin: 1.5em 0;
			background: white;
			position: relative;
			
			.icon-select {
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				border: none;
				background: $brand-primary;
				color: white;
				font-size: 1.5em;
				z-index: 0;
				width: 2.2em;
				display: flex;
				align-items: center;
				justify-content: center;
			}
	    }
	    
	    select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			display: block;
			border-radius: 0;
			display: block;
			padding: 0.8em;
			width: 100%;
			outline: none;
			border: none;
			background: none;
			position: relative;
			z-index: 2;
			
			&.empty {
				text-transform: uppercase;
				color: $brand-mid-grey;
			}
	    }
	    
	    &.brand-secondary {
		    
		    legend {
		    	color: $brand-secondary;
			}
			
			input {
				border: 2px solid $brand-secondary;
				
				&[type=submit] {
					background: $brand-secondary;
				}
			}
			
			.select-wrapper {
				border: 2px solid $brand-secondary;
				
				.icon-select {
					background: $brand-secondary;
				}
			}
	    }
    }
}

.sidebar-wrapper {
    position: relative;
    height: 100%;
    background: $brand-dark-grey;
    
    &:after{
        @include overflowRight
        background: $brand-dark-grey;
    }    
}

.sidebar {
    position: relative;
    padding: 3em;
    background:$brand-mid-grey;
    color: white;
    
    &:after{
        @include overflowRight
        background: $brand-dark-grey;
    }
}

.sidebar-cta {
    position: relative;
    padding: 0;
    background:$brand-dark-grey;
    color: white;
    
    &:after{
        @include overflowRight
        background: $brand-dark-grey;
    }   
    
    &.submit-cv,
    &__form {
        padding: 3em;
    } 
    
    &.all-jobs a {
        display: block;
        padding: 3em;
        background: hsl(210, 6%, 60%);
        color: $brand-dark-grey;
        transition:all 0.5s ease;
        
        &:hover {
            cursor: pointer;
            background:$brand-secondary;
            color: $brand-dark-grey;
        }
          
    }
}

.sidebar-contacts {
    position: relative;
    padding: 3em;
    background:$brand-light-grey;
    color: white;
}

.sub-nav {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    background: $brand-dark-grey;
    
    &:after{
        @include overflowRight
        background: $brand-dark-grey;
    }       
    
    li {
         margin-bottom: 10px;
         
         a {
            padding: 1em;
            text-transform: uppercase;
            display: block;
            text-align: center;
            font-weight: 400;
            background: $brand-mid-grey;
            color: white;
            transition:all 0.5s ease;
            
            &:hover {
                background: $brand-secondary;
                color: $brand-mid-grey;                
            }
        }
        
        &.current_page_item a {
            background: $brand-secondary;
            color: $brand-mid-grey;                
        }
        
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}


.job-card {
    @include backgroundCover;
    position: relative;
    background:url(inc/img/job-holding.jpg); 
    display: grid;
    margin-bottom: 3em;
    color: white;
    
    &:before {
        @include childOverlay;
        background: black;
        opacity:0.7;
        z-index: 0;
    }
    
    .content {
        position: relative;
        padding: 1em;
        
        .salary {
            float:left;
        }
        
        .time {
            float:right;
            font-size: 0.75em;
            
            i {
	            padding-right: 0.5em;
            }
        }
        
        .heading:first-of-type {
            clear:both;
        }
        
        description {
	        font-size: 1em;
        }
        
    }
    
    a {
        position: relative;
        padding: 2em;
        background: $brand-dark-grey;
        line-height: 2em;
        text-transform: uppercase;
        font-weight: 400;
		display: flex;
		align-items: center;
        
        i {
	        font-size: 1.5em;
            border-radius: 50%;
            padding: 10px;
            margin-right: 10px;
            color: $brand-dark-grey;
        }
    }
    
    &.temporary {
	    
	    h2, h5, a {
		    color: $brand-primary;
	    }
	    
	    a {
    	    transition: all 0.5s ease;
	    }
	    
	    a:hover {
        	    background:$brand-primary;
        	    color: $brand-dark-grey;
    	    
    	        i {
            	    background:$brand-dark-grey;
            	    color:$brand-primary;        	        
    	        }
	    }
	   
	    a i {
		    background: $brand-primary;
	    }
    }
    
    &.permanent {
	    
	    h2, h5, a {
		    color: $brand-secondary;
	    }

	    a {
    	    transition: all 0.5s ease;
	    }

	    a:hover {
        	    background:$brand-secondary;
        	    color: $brand-dark-grey;
    	    
    	        i {
            	    background:$brand-dark-grey;
            	    color:$brand-secondary;        	        
    	        }
	    }
	    
	    a i {
		    background: $brand-secondary;
	    }
    }
    
    &.block {
	    display: flex;
	    
	    .info {
			display: flex;
			align-items: center;
			
			p, h5 {
		        display: inline-block;
		        margin: 0;
	        }
	        
	        h5 {
		        flex-grow: 1;
		        font-size: 1em;
	        }
	        
	        .salary {
		        padding-right: 1em;
		        font-size: 1em;
	        }
	    }
        
        a {
	        padding: 1em;
	        display: flex;
	        align-items: center;
	        justify-content: center;
	        
	        i {
		        font-size: 2em;
		        margin: 0;
		        width: 1.5em;
		        height: 1.5em;
				display: flex;
				justify-content: center;
				align-items: center;
	        }
        }
    }
}


.testimonial-slider {
    margin-bottom: 5em;
    
    &__item {
        position: relative;
        background:$brand-mid-grey;
        padding:2em 5em 2em 2em;
        font-size: 1.3em;
        line-height: 1.4em;
        font-style: italic;
        text-align: justify;
        color: white;
        
        &:before {
            content:'';
            position: absolute;
            bottom:-20px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 20px 0 20px;
            border-color: $brand-mid-grey transparent transparent transparent; 
        }
        
        p {
            margin-bottom: 0;
        }
        
        span {
            display: block;
            font-size: 0.5em;
            font-style: normal;
            font-weight: 200;
            text-transform: uppercase;
            color: $brand-primary;
        }
    }
}

.all-news {
	background-color: $body-color;
	padding: 3em 5em;
	
	button {
		display: inline-block;
		background: none;
		border: none;
		outline: none;
		cursor: pointer;
		text-transform: uppercase;
		font-family: $supporting-font;
		color: $brand-dark-grey;
		margin: 0 0 0 1rem;
		padding: 0;
		font-weight: 100;
	    letter-spacing: 0.05em;
		
		&:not(:first-child)::before {
			content: "";
			margin-right: 1rem;
			border-left: 1px solid $brand-dark-grey;
		}
	}
}

.news-card {
	height: 100%;
	background: white;
	color: grey;
	display: flex;
	flex-direction: column;
	
	&__text {
		flex-grow: 1;
	}
	
	img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
	
	span {
		text-transform: uppercase;
		font-family: $supporting-font;
		color: $brand-secondary;
		font-size: 0.9em;
		display: block;
	}
	
	p {
		text-align: justify;
		font-size: 1em;
		font-weight: normal;
		margin: 0;
	}
	
	a {
		padding: 1em 2em;
		display: block;
		text-align: left;
		border: 1px solid grey;
		margin: 2em;
		color: grey;
	}
}

.carousel-wrapper {
	display: flex;
	justify-content: center;
	
}

.latest-news-slider {
	width: 60%;
	background: #E8E5E1;
    
    &__item {
	    
	    & > div {
			padding: 2em 4em;
	    }
        
        a, span {
	        color: $brand-secondary;
        }
        
        span {
	        font-family: $supporting-font;
	        text-transform: uppercase;
	        font-size: 0.9em;
        }
        
        img {
			width: 100%;
			height: 350px;
			object-fit: cover;
        }
        
        h3 {
	        font-size: 1.2em;
        }
        
        .latest-news-header {
	        display: grid;
			grid-template-columns: 60% 40%;
			
			div {
				grid-row: 1/3;
				grid-column: 2;
			}
        }
        
        .share-buttons {
        	text-align: right;
        	
        	a {
				padding: 0 0.5em;
				font-size: 1.5em;
				color: white;
			}
        }
    }
    
    .owl-prev, .owl-next {
	    &:before {
		    display: none;
	    }
	    
	    &:after {
		    font-family: "Font Awesome 5 Free";
		    font-weight: 900;
		    background: none !important;
		    color: #dcdad2;
	    }
    }
    
    .owl-prev {
	    margin-left: -1.5em;
	    
	    &:after {
		    content: '\f053' !important;
	    }
    }
    
    .owl-next {
	    margin-right: -1.5em;
	    
	    &:after {
		    content: '\f054' !important;
	    }
    }
}

body.page-template-job-temporary .hero:before {
	background: #aaff00;
	opacity: 0.5;
}

body.page-template-job-permanent .hero:before {
	background: #00ffee;
	opacity: 0.5;
}

/*===========FOOTER==========*/

.pre-socket {
    padding: 3em 0;        
    border-top: 10px solid white;
    border-bottom: 2px solid white;
    background: $brand-mid-grey;
    color: white;
}

.footer ul {
    margin:0;
    padding: 0;    
    list-style: none;
    
    li a {
        font-family: $supporting-font;
        font-size: 0.75em; 
        line-height: 1.5em;
        text-transform: uppercase;
        color: white;
        
        &:hover {
            color: $brand-primary;
        }
    }
}

.accreds {
    padding: 1em;
    background: $brand-primary;
    text-align: center;
}

.socket {
    text-transform: uppercase;
    
    .mandatory a:first-of-type {
        margin-right: 0.5em;
        padding-right: 0.5em;
        border-right: 1px solid $brand-mid-grey;
    }
}

#menu-footer-menu-two {
    margin-top:1.5em;
}
/*===========PAGE SPECIFIC==========*/

.page-template-contact-page {

    .site-wrapper {
        position: relative;
        background: hsl(210, 3%, 43%);
        color: hsl(0, 0%, 100%);
    }
  
    .trigger-collapse, .trigger-expand {
        border-color: hsl(0, 0%, 100%);
        color: hsl(0, 0%, 100%) !important;      
    }

    .button__mandatory {
        box-shadow: inset 0 0 0 2px #ffffff;
        color: hsl(0, 0%, 100%);
    }
}

/*===========VENDOR ADJUSTMENTS==========*/