/*! == THEME STYLES == */

/*===========GLOBAL==========*/

.brand-dot {
    position: relative;
    @include brandDot;
    
    &:before {
        bottom:-1em;
        background: white;
    }
}

/*===========HEADER==========*/

.sub-hero {
        @include gridCenter;    
        grid-template-columns: 1fr 1fr 1fr;
    
    &__item {
        position: relative;
        @include gridCenter;    
        @include backgroundCover;
        height:25vh;
        border-bottom: 10px solid white;
        border-right: 5px hsl(0, 0%, 100%) solid;
        border-left: 5px hsl(0, 0%, 100%) solid;  
        text-align: center;
        filter:saturate(80%);  
        transition: all 0.5s ease;
        
        &:before {
            content: '';
            position: absolute;
            top: 4%;
            left: 2%;
            width: 96%;
            height: 92%;
            border: 1px solid hsl(0, 0%, 100%);
            opacity:0;
            transition:opacity 0.5s ease;
        }
        
        &:first-of-type {
            margin-left:5px;
        }
        
        &:last-of-type {
            margin-right:5px;
        }
        
        &:hover {
            filter:saturate(100%);
            cursor: pointer;
            
            &:before {
                opacity: 1;
            }
        }
    }

}

.home .sub-hero__item {
    height: 35vh;
}

/*===========BODY==========*/

.leader {
    @include backgroundCover;
    display: grid;
    height: 25em;
    padding: 2em;
    border: 3px solid $brand-primary;
    color: white;
    
    .buttons {
        align-self: flex-end;
        margin-right: 4em;
        
        .button {
            text-align: left;
            font-weight: 400;
            transition: all 0.5s ease;
            
            &:hover {
                background: $brand-dark-grey !important;
            }
        }
    }
}

.sidebar-job-search {
	position: relative;
    padding: 3em;
    background:$brand-mid-grey;
    text-transform: uppercase;
	
	&:after{
        @include overflowRight
        background: $brand-dark-grey;
    }
    
    form {
	    legend {
		    color: $brand-primary;
			font-size: 1.2em;
			font-weight: 400;
	    }
	    
	    input {
			display: block;
			width: 100%;
			padding: 0.8em;
			border: 2px solid $brand-primary;
			text-transform: uppercase;
			color: $brand-mid-grey;
			margin: 1.5em 0;
			
			&::placeholder {
				text-transform: uppercase;
				color: $brand-mid-grey;
			}
			
			&[type=submit] {
				background: $brand-primary;
				padding: 0.4em 0.8em;
				color: white;
				text-transform: uppercase;
				text-align: left;
				margin-bottom: 0;
				cursor: pointer;
				transition: $fastEffect;
				
				&:hover {
					color: $brand-mid-grey;
				}
			}
	    }
	    
	    .select-wrapper {
		    border: 2px solid $brand-primary;
			margin: 1.5em 0;
			background: white;
			position: relative;
			
			.icon-select {
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				border: none;
				background: $brand-primary;
				color: white;
				font-size: 1.5em;
				z-index: 0;
				width: 2.2em;
				display: flex;
				align-items: center;
				justify-content: center;
			}
	    }
	    
	    select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			display: block;
			border-radius: 0;
			display: block;
			padding: 0.8em;
			width: 100%;
			outline: none;
			border: none;
			background: none;
			position: relative;
			z-index: 2;
			
			&.empty {
				text-transform: uppercase;
				color: $brand-mid-grey;
			}
	    }
	    
	    &.brand-secondary {
		    
		    legend {
		    	color: $brand-secondary;
			}
			
			input {
				border: 2px solid $brand-secondary;
				
				&[type=submit] {
					background: $brand-secondary;
				}
			}
			
			.select-wrapper {
				border: 2px solid $brand-secondary;
				
				.icon-select {
					background: $brand-secondary;
				}
			}
	    }
    }
}

.sidebar-wrapper {
    position: relative;
    height: 100%;
    background: $brand-dark-grey;
    
    &:after{
        @include overflowRight
        background: $brand-dark-grey;
    }    
}

.sidebar {
    position: relative;
    padding: 3em;
    background:$brand-mid-grey;
    color: white;
    
    &:after{
        @include overflowRight
        background: $brand-dark-grey;
    }
}

.sidebar-cta {
    position: relative;
    padding: 0;
    background:$brand-dark-grey;
    color: white;
    
    &:after{
        @include overflowRight
        background: $brand-dark-grey;
    }   
    
    &.submit-cv,
    &__form {
        padding: 3em;
    } 
    
    &.all-jobs a {
        display: block;
        padding: 3em;
        background: hsl(210, 6%, 60%);
        color: $brand-dark-grey;
        transition:all 0.5s ease;
        
        &:hover {
            cursor: pointer;
            background:$brand-secondary;
            color: $brand-dark-grey;
        }
          
    }
}

.sidebar-contacts {
    position: relative;
    padding: 3em;
    background:$brand-light-grey;
    color: white;
}

.sub-nav {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    background: $brand-dark-grey;
    
    &:after{
        @include overflowRight
        background: $brand-dark-grey;
    }       
    
    li {
         margin-bottom: 10px;
         
         a {
            padding: 1em;
            text-transform: uppercase;
            display: block;
            text-align: center;
            font-weight: 400;
            background: $brand-mid-grey;
            color: white;
            transition:all 0.5s ease;
            
            &:hover {
                background: $brand-secondary;
                color: $brand-mid-grey;                
            }
        }
        
        &.current_page_item a {
            background: $brand-secondary;
            color: $brand-mid-grey;                
        }
        
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}


.job-card {
    @include backgroundCover;
    position: relative;
    background:url(inc/img/job-holding.jpg); 
    display: grid;
    margin-bottom: 3em;
    color: white;
    
    &:before {
        @include childOverlay;
        background: black;
        opacity:0.7;
        z-index: 0;
    }
    
    .content {
        position: relative;
        padding: 1em;
        
        .salary {
            float:left;
        }
        
        .time {
            float:right;
            font-size: 0.75em;
            
            i {
	            padding-right: 0.5em;
            }
        }
        
        .heading:first-of-type {
            clear:both;
        }
        
        description {
	        font-size: 1em;
        }
        
    }
    
    a {
        position: relative;
        padding: 2em;
        background: $brand-dark-grey;
        line-height: 2em;
        text-transform: uppercase;
        font-weight: 400;
		display: flex;
		align-items: center;
        
        i {
	        font-size: 1.5em;
            border-radius: 50%;
            padding: 10px;
            margin-right: 10px;
            color: $brand-dark-grey;
        }
    }
    
    &.temporary {
	    
	    h2, h5, a {
		    color: $brand-primary;
	    }
	    
	    a {
    	    transition: all 0.5s ease;
	    }
	    
	    a:hover {
        	    background:$brand-primary;
        	    color: $brand-dark-grey;
    	    
    	        i {
            	    background:$brand-dark-grey;
            	    color:$brand-primary;        	        
    	        }
	    }
	   
	    a i {
		    background: $brand-primary;
	    }
    }
    
    &.permanent {
	    
	    h2, h5, a {
		    color: $brand-secondary;
	    }

	    a {
    	    transition: all 0.5s ease;
	    }

	    a:hover {
        	    background:$brand-secondary;
        	    color: $brand-dark-grey;
    	    
    	        i {
            	    background:$brand-dark-grey;
            	    color:$brand-secondary;        	        
    	        }
	    }
	    
	    a i {
		    background: $brand-secondary;
	    }
    }
    
    &.block {
	    display: flex;
	    
	    .info {
			display: flex;
			align-items: center;
			
			p, h5 {
		        display: inline-block;
		        margin: 0;
	        }
	        
	        h5 {
		        flex-grow: 1;
		        font-size: 1em;
	        }
	        
	        .salary {
		        padding-right: 1em;
		        font-size: 1em;
	        }
	    }
        
        a {
	        padding: 1em;
	        display: flex;
	        align-items: center;
	        justify-content: center;
	        
	        i {
		        font-size: 2em;
		        margin: 0;
		        width: 1.5em;
		        height: 1.5em;
				display: flex;
				justify-content: center;
				align-items: center;
	        }
        }
    }
}


.testimonial-slider {
    margin-bottom: 5em;
    
    &__item {
        position: relative;
        background:$brand-mid-grey;
        padding:2em 5em 2em 2em;
        font-size: 1.3em;
        line-height: 1.4em;
        font-style: italic;
        text-align: justify;
        color: white;
        
        &:before {
            content:'';
            position: absolute;
            bottom:-20px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 20px 0 20px;
            border-color: $brand-mid-grey transparent transparent transparent; 
        }
        
        p {
            margin-bottom: 0;
        }
        
        span {
            display: block;
            font-size: 0.5em;
            font-style: normal;
            font-weight: 200;
            text-transform: uppercase;
            color: $brand-primary;
        }
    }
}

body.page-template-job-temporary .hero:before {
	background: #aaff00;
	opacity: 0.5;
}

body.page-template-job-permanent .hero:before {
	background: #00ffee;
	opacity: 0.5;
}

/*===========FOOTER==========*/

.pre-socket {
    
    background: $brand-mid-grey;
    color: white;
}

.footer ul {
    margin:0;
    padding: 0;    
    list-style: none;
    
    li a {
        font-size: 0.75em; 
        line-height: 1.5em;
        text-transform: uppercase;
        color: white;
        
        &:hover {
            color: $brand-primary;
        }
    }
}

.main-form {
    display: grid;
    grid-template-columns: 15% 30% 15% 40%;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: flex-start;
    
    .label {
        overflow:hidden;
        background: $brand-mid-grey;
        font-size: 0.75em;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: white;
    }

    .input input {
        height: 100%;
        width: 100%;
        -webkit-appearance: none;
        border: none;    
    }
    
    .name-label,
    .email-label,
    .tel-label {
        grid-column:1/2;     
        overflow: hidden;  
        margin-bottom: 10px;
        padding: 0.75em;
    }
    
    .name-input,
    .email-input,
    .tel-input {
        grid-column:2/3;       
        overflow: hidden;    
        margin-bottom: 10px;
    }    
    
    .message-label {
        grid-column:3/4; 
        grid-row: 1/2;    
        overflow: hidden;      
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 0.75em;      
    }    

    .message-input {
        grid-column:4/5;   
        grid-row:1/4;    
        overflow: hidden;          
    }
    
    .file-name {
        grid-column: 1/3;
	    padding: 0.5em;
        font-size: 0.75em;
        font-weight: 400;
        color: $brand-dark-grey;
    }     
    
    textarea {
        height: 100%;
        width:100%;
        padding: 0 0.5em;
        border: none;
    }
    
    &.fullwidth {
        grid-template-columns: 25% 75%;
        grid-template-rows: 3em 3em 3em 10em 3em;
        width: 100%;
    
        .message-label {
            grid-column:1/2; 
            grid-row: auto;
            overflow: hidden;      
            margin-left: 0;
            margin-bottom: 10px;
            padding: 0.75em; 
            height: 3em;     
        }  
        
        .message-input {
            grid-column:2/3;
            grid-row: auto;   
            overflow: hidden;    
            border: none;
            -webkit-appearance: none;      
            margin-bottom: 10px;
        }   
        
        .cv-upload {
            grid-column: 1/3;
            
            label {
                width: 75%;
                margin-right: 2%;
                margin-bottom: 0;
                background: $brand-dark-grey;
                color: white;
                padding: 1em;
                text-align: center;
                align-items: center;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 0.75em;
                
                &:before {
                    font-family: "Font Awesome 5 Free";
                    content: "\f15c";
                    display: inline-block;
                    padding-right: 10px;
                    vertical-align: middle;
                    font-size: 2em;
                    line-height: 1em;
                    font-weight: 900;
                    color: $brand-secondary;
                }
                
                &:hover {
                    cursor: pointer;
                }
                
                &.attached {
                    background: $brand-mid-grey;
                    
                    &:before {
                        content: "\f058";       
                        color: $brand-primary;                 
                    }
                }
            }
            
            .wpcf7-submit {
                width: 23%;
                margin-top: 0;
                height: 4em;
                padding: 0.5em;
            }
        }     
    }
}

.alert-info {
	background-color: $brand-secondary;
    color: white;
}

input[type="file"] {
    display: none;
}
.wpcf7-file {
    display: inline-block;
}

.wpcf7-submit {
    float: right;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 400;
    background: $brand-mid-grey;
    line-height: 2em;
    border: none;
    padding: 0.5em 2em;
    margin-top: 10px;
    color: white;
    transition: all 0.5s ease;
    
    &:hover {
        cursor: pointer;
        background:$brand-primary;
        color: $brand-dark-grey;
    } 
}

.callout {
    padding: 2em 2em 1em;
    background: $brand-secondary;
    
    p {
        text-align: justify;
    }
}

.candidate-card {
    position: relative; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:1em;
    
    &:before {
        @include backgroundContain;
        content: '';
        position: absolute;
        top:1em;
        right: 1em;
        height: 3em;
        width: 3em;
        background: url('inc/img/male.svg');
    }
    
    &.female:before {
        background: url('inc/img/female.svg');        
    }
    
    &.permanent {
        background: $brand-secondary;
    }

    &.temporary {
        background: $brand-primary;
    }

    .type {
        font-style: italic;
        font-size: 0.85em;
    }

    .name {
        text-transform: none;
    }

    .type,
    .name {
        grid-column: 1/2;
    }
    
    .description,
    .skills {
        grid-column: 1/3;
    }

    .sex,
    .skills,
    .language,
    .location,
    .salary,
    .transport {
        margin-bottom: 0.5em;
        font-size: 0.85em;
    }

    .button {
        grid-column: 2/3;
        box-shadow: inset 0 0 0 2px $brand-mid-grey;
        color: $brand-mid-grey;
    }
    
}

.quick-contact p {
    font-size: 1em;
}

/*===========PAGE SPECIFIC==========*/

.page-template-contact-page {

    .site-wrapper {
        position: relative;
        background: hsl(210, 3%, 43%);
        color: hsl(0, 0%, 100%);
    }
  
    .trigger-collapse, .trigger-expand {
        border-color: hsl(0, 0%, 100%);
        color: hsl(0, 0%, 100%) !important;      
    }

    .button__mandatory {
        box-shadow: inset 0 0 0 2px #ffffff;
        color: hsl(0, 0%, 100%);
    }

.submit-cv {
    display: none;
}
  
}

.single-job .main-form.fullwidth {
    grid-template-columns: 100%;
    grid-template-rows: 3em 3em 3em 3em 3em 3em 3em 10em 3em;
    
    .label,
    .input {
        grid-column: 1/2;
    }   
    .label {
        margin-bottom: 0;
        display: flex;
		align-items: center;
		height: 100%;
    }
}

.single-job .quick-contact {
    display: none;
}
/*===========VENDOR ADJUSTMENTS==========*/

.related.products,
.woocommerce-notices-wrapper {
    display: none;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: none;
    width:auto;
}

.woocommerce div.product form.cart .button {
  vertical-align: middle;
  float: none;
  font-weight: 200;
  padding: 1em 3em;
  background: $brand-secondary;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    display: none;
    margin: 0;
}
.quantity input.qty {
    appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.woocommerce .quantity .qty {
    width: 2em;
    text-align: center;
    height: 2em;
    font-size: 1.5em;
    border:none;
}

.woocommerce div.product form.cart div.quantity {
  float: left;
  margin: 0 1em 0 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.qty_button {
    border:none;
    background: $brand-light-grey;
    transition:all 0.5s ease;
    
    &:hover {
        background: $brand-dark-grey;     
        color: white;   
    }
    
    &:active,
    &:focus {
        outline: none;
    }
}

.woocommerce div.product div.summary,
.woocommerce div.product form.cart {
  margin-bottom: 0;
}


.screen-reader-text {
    display: none;
}

.woocommerce,
.shop_table {
    width: 100%;
}

.shop_table thead,
.product-remove,
.product-name,
.product-price,
.product-quantity,
.product-subtotal {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px solid hsl(0, 0%, 77%);
}

.cart_item .quantity {
    padding-top: 0.5em;
}

.woocommerce .cart_item .quantity .qty {
    font-size: 1em;
}

.cart_item .qty_button {
    display: inline-block;
    line-height: 2em;
    width: 2em;
}

.coupon {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    float: left;    
    align-items: center;
}

.actions {
    padding-top:2em
}

.actions .button {
    float: right;
}

#coupon_code {
    font-size: 1.5em;
    margin: 0 1em 0 0;
    text-align: center;
}

#coupon_code::placeholder {
    color: hsl(0, 0%, 77%);
    font-size: 0.75em;
    text-transform: uppercase;
}

.coupon label {
    margin-bottom: 0;
}

.cart-collaterals {
    margin-bottom: 200px;
    
    .shop_table {
        width: 50%;
        float: right;
    }
    
    .cart-subtotal,
    .order-total,
    .cart_totals .order-total td {
        text-align: right;
    }
    
    .woocommerce-Price-amount {
        font-size: 2.5em;
        color: $brand-dark-grey;    
    }
}

.wc-proceed-to-checkout {
    float: right;
    width: 100%;
    text-align: right;
    
    .button__prompt i { /*Alignment fix*/
        top: 7px;
        }
}

.woocommerce-billing-fields__field-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 1em;
    
    .woocommerce-input-wrapper,
    .woocommerce-input-wrapper .input-text {
        display: block;
        width: 100%;
    }
    
    .input-text {
        padding: 0.25em 0.5em;    
    }
    
    label {
        font-size: 0.75em;
        text-transform: uppercase;
        margin-bottom: 0;
        font-weight: 200;
    }
}

#billing_country_field {
    grid-column: 1/2;
}

#billing_address_1_field {
    grid-column: 1/2;
}

#billing_address_1_field,
#billing_city_field, 
#billing_state_field {
    grid-row:3/4;
}

#billing_phone_field,
#billing_email_field,
#billing_postcode_field {
    grid-row:4/5;    
}


#billing_company_field,
#billing_address_2_field {
    display: none !important;
}

input#billing_address_1::placeholder {
  display: none;
  opacity: 0;
}

#billing_postcode_field {
    display: block;
}

.woocommerce-input-wrapper {
    display: block;
    width: 100%;
    
    .input-text  {
        width:50%;
    }
}

.woocommerce-checkout-review-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
}

.woocommerce abbr[title] {
    text-decoration: none;
}

#order_comments_field label {
    display: none;
}

.wc_payment_methods {
    list-style: none;
    margin:0;
    padding:0;
}

.woocommerce-input-wrapper .input-text::placeholder {
  font-weight: 200;
  padding: 0.5em;
}

.place-order {
    font-size: 0.75em;
}

#stripe-payment-data iframe {
        display: grid !important;
        height: 2em !important;
        align-items: center !important;        
}

#stripe-payment-data p:first-of-type {
    display: none !important;
}

.wc_payment_method > label {
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: hsl(9, 75%, 46%);
}

#wc-stripe-cc-form {

    .form-row {
        display: inline-grid;
        width: 45%;
        
        &:nth-of-type(2){
            margin-right:  10%;
        }
    }

    .form-row-wide {
        width: 100%;
    }
    
    label {
        text-transform: uppercase;
        margin: 1em 0 0;
    }
}

.product-total {
    padding-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 77%);
}

.order-total th,
.checkout .product-name {
    text-align: right;
}

.order-total td {
    text-align: center;
}

.checkout .product-quantity {
    border:none;
}

.woocommerce-order {
    width: 100%;
}

.woocommerce-order-details tfoot {
    text-align: center;
}

.woocommerce-error {
    color: hsl(0, 0%, 100%);
    font-size: 1.5em;
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
    background: hsl(0, 100%, 50%);
    text-align: center;
}

.woocommerce-invalid span.woocommerce-input-wrapper {
    border: 3px solid hsl(0, 100%, 50%);
}

.single_add_to_cart_button.button:hover {
    background: white !important;
    cursor: pointer;
}
