/*! == VARIABLES == */

$brand-primary: hsl(64, 17%, 39%);
$brand-secondary: hsl(64, 100%, 29%);
$brand-tertiary: hsl(34, 13%, 90%);
$brand-light-grey: hsl(0, 0%, 96%);
$brand-mid-grey: hsl(0, 0%, 24%);
$brand-dark-grey: hsl(34, 8%, 18%);
$body-color: hsl(60, 7%, 94%);


$brand-font: 'french-canon', serif;
$body-font: 'french-canon', serif;
$supporting-font: 'Noto Sans', sans-serif;

$fastEffect: all .5s ease-in-out;
$slowEffect: all 1s ease-in-out;

